{% extends 'logistique_service_medical/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="section has-background-info-85 is-mobile">
<div class="box">
<h1 class="title is-2 has-text-grey-dark has-text-centered mb-5">Archive des listes</h1>
</div>
<div class="box">
<h2 class="title is-4 has-text-grey-dark mb-6">Recuperer les archives des listes utilisateurs</h2>
{% if archive_form %}
    <form action="{% url 'logistique_service_medical:recherche_archive' %}" method="post" class="mb-5">
{% csrf_token %}
    <div class="container">
    {% crispy archive_form %}
    <button class="button is-primary" type="submit">Rechercher</button>
    </div>
</form>
</div>
{% endif %}

{% if listes_archivees %}
<div class="box">
    <div class="table-container">
        <table class="table is-striped is-fullwidth"> <!-- Ajout de la balise <table> -->
            <thead> <!-- En-têtes de tableau -->
                <tr>
                    <th>Date</th>
                    <th>Destination</th>
                    <th>En_cours</th>
                    <th>Action</th> <!-- Ajout d'une colonne pour les actions -->
                </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
                {% for liste_utilisateur in listes_archivees %}
                <tr>
                    <td>{{ liste_utilisateur.date_liste }}</td>
                    <td>{{ liste_utilisateur.destination }}</td>
                    <td>{{ liste_utilisateur.en_cours }}</td>
                    <td>
                        <!-- Chaque bouton de sélection doit être à l'intérieur d'un formulaire -->
                        <form action="{% url 'logistique_service_medical:display_archive' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_liste_utilisateur" value="{{ liste_utilisateur.id_liste_utilisateur }}">
                            <button class="button is-small is-link is-outlined is-focused" type="submit">Sélectionner</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> <!-- Fin de la balise <table> -->
    </div>
</div>
{% endif %}

{% if produits_liste_utilisateur %}
<div class="box">
<h2 class="title is-4 has-text-dark-grey mb-6">Archive</h2>

<div class="columns is-multiline">
    {% for produit in produits_liste_utilisateur %}
        <div class="column is-half">
            <div class="box">
                    <div class="field">
                        <label class="label has-text-grey-dark has-text-weight-semibold">{{ produit.nom_produit }}</label>
                        <div class="control">
                            <div class="table-container">
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                        <tr>
                                            <th class="has-text-primary">quantité départ :</th>
                                            <td>{{ produit.quantite_depart }}</td> <!-- Affichage de la quantité de départ -->
                                        </tr>
                                        <tr>
                                            <th class="has-text-info">quantité retour :</th>
                                            <td>{{ produit.quantite_retour }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    {% endfor %}
</div>
</div>
{% endif %}
</section>

{% endblock %}
