{% extends 'logistique_service_medical/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered is-2 has-text-info-30">Gestion des listes</h1>
        <hr>
    <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <a href="{% url 'logistique_service_medical:depart' %}" class="button is-focused has-text-warning is-large is-fullwidth mb-5">
                    <span class="icon">
                    <i class="fas fa-plane-departure"></i>
                    </span>
                    <span>Depart</span>
                </a>
                <a href="{% url 'logistique_service_medical:retour' %}" class="button has-background-info-85 has-text-link is-focused is-large is-fullwidth mb-5">
                    <span class="icon">
                        <i class="fas fa-plane-arrival"></i>
                    </span>
                    <span>Retour</span>
                </a>
                </a>
                <a href="{% url 'logistique_service_medical:recherche_archive' %}" class="button is-info has-text-success-40 is-focused is-large is-fullwidth mb-5">
                    <span class="icon">
                        <i class="fas fa-archive"></i>
                    </span>
                    <span>Archives</span>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
