{% extends 'logistique_service_medical/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="section has-background-primary-75 is-mobile">
<div class="box">
<h1 class="title is-3 has-text-info has-text-centered mb-5 is-flex is-align-items-center is-justify-content-center">
    <span class="icon is-large">
        <i class="fas fa-box-open"></i>
    </span>
    <span class="ml-3">Gestion des produits en stock</span>
</h1>


<form action="{% url 'logistique_service_medical:display_produits'%}" method="post" class="mb-5">
    {% csrf_token %}
    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            <div class="select">
                <select name="id_stock">
                    <option value="" {% if not selected_stock_id %} selected {% endif %}>Sélectionner un stock</option>
                    {% for stock in liste_stocks %}
                        <option value="{{ stock.id_stock }}" {% if selected_stock_id == stock.id_stock %} selected {% endif %}>{{ stock.nom_stock }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control">
            <button class="button has-text-info is-focused" type="submit">Afficher les produits</button>
        </div>
    </div>
    <input type="hidden" name="selected_stock_id" value="{{ selected_stock_id }}">
</form>
</div>
{% if produitsStock %}
<h2 class="title is-4 has-text-centered has-text-primary-30 mb-6">{{ selected_stock_nom }}</h2>

<div class="columns is-multiline">
   {% for produit in produitsStock %}
    <div class="column is-half">
        <div class="box">
            <form hx-post="{% url 'logistique_service_medical:update_quantity' id_produit=produit.id_produit %}" hx-target="#message_{{ produit.id_produit }}" hx-swap="outerHTML">
                {% csrf_token %}
                <div class="field">
                    <label class="label has-text-info has-text-weight-semibold">{{ produit.nom_produit }}</label>
                    <div class="control">
                        <input type="number" id="quantity_{{ produit.id_produit }}" name="quantity_{{ produit.id_produit }}"
                            value="{{ produit.quantite_stock }}" class="input is-small" min="0">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info is-focused is-small has-text-light" name="quantity_updated" type="submit">Enregistrer</button>
                    </div>
                </div>
            </form>
            <div id="message_{{ produit.id_produit }}"></div> <!-- Message d'erreur/succès -->
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
<div class="box">
<div class="field is-grouped is-justify-content-center">
    <div class="control">
        <a href="{% url 'logistique_service_medical:produit_list' %}" class="button has-text-primary is-focused">Ajouter/Supprimer produit</a>
    </div>
</div>
</div>
</section>
<script>
document.addEventListener("DOMContentLoaded", () => {
    // Get all forms with the 'hx-post' attribute
    let forms = document.querySelectorAll('[hx-post]');

    // Loop through each form and add submit event listener
    forms.forEach((form) => {
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            // Prepare the form data
            let formData = new FormData(form);

            // Send the form data asynchronously
            let response = await fetch(form.getAttribute('hx-post'), {
                method: 'POST',
                body: formData
            });

            // Parse the response as plain text
            let responseText = await response.text();

            // Check if the response was successful
            if (response.ok) {
                // Update the message div with the response message
                form.querySelector('#message').innerHTML = responseText;
            } else {
                // Display the error message
                form.querySelector('#message').innerHTML = responseText;
            }
        });
    });
});
</script>
{% endblock %}
