{% extends 'logistique_service_medical/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered is-1">Administrateur</h1>
        <hr>
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <a href="{% url 'logistique_service_medical:user_list' %}" class="button has-text-info is-focused is-large is-fullwidth mb-1">
                    <span class="icon">
                    <i class="fas fa-users"></i>
                    </span>
                    <span>Gestion Comptes</span>
                </a>

            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <button class="button has-text-primary is-focused is-large is-fullwidth mb-1" data-url="{% url 'logistique_service_medical:display_produits' %}" onclick="window.location.href = this.getAttribute('data-url')">
                    <span class="icon">
                        <i class="fas fa-box"></i>
                    </span>
                    <span>Gestion Stock</span>
                </button>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <a href="{% url 'logistique_service_medical:depart_retour' %}" class="button has-text-danger is-focused is-large is-fullwidth mb-1">
                    <span class="icon">
                        <i class="fas fa-tasks"></i>
                    </span>
                    <span>Gestion Liste</span>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
