{% extends 'logistique_service_medical/base.html' %}

{% block content %}
<div class="container has-text-centered mt-6">
    <div class="notification is-warning is-light">
        <div class="columns is-vcentered">
            <div class="column is-narrow">
                <span class="icon has-text-warning">
                    <i class="fas fa-thumbs-up is-size-3"></i>
                </span>
            </div>
            <div class="column">
                <p class="title is-6 has-text-info">
                    La liste utilisateur a été créée avec succès.
                </p>
            </div>
        </div>
    </div>
    <div class="buttons mt-4">
        <a class="button is-info is-outlined" href="{% url 'logistique_service_medical:index' %}">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
