{% extends 'logistique_service_medical/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="section has-background-light is-mobile">
<div class="container mt-5">
    <div class="columns is-centered">
        <div class="column">
            <div class="box">
                <h1 class="subtitle is-3 has-text-centered has-text-link mb-5">Liste des produits</h1>
                <div class="table-container">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produit in produits %}
                                <tr>
                                    <td>{{ produit.nom_produit }}</td>
                                    <td>
                                        <form id="delete-form-{{ produit.id_produit }}" action="{% url 'logistique_service_medical:delete_produit' %}" method="post" onsubmit="return confirmDelete('{{ produit.id_produit }}')">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_produit" value="{{ produit.id_produit }}">
                                            <button class="button is-danger is-small" type="submit">
                                                <span class="icon">
                                                    <i class="fas fa-times"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="columns is-centered">
        <div class="column">
            <div class="box">
                <h2 class="subtitle is-4 has-text-centered has-text-link mb-3">Ajouter un produit</h2>
                <form id="add-produit-form" action="{% url 'logistique_service_medical:add_produit' %}" method="post" onsubmit="return handleAddProduit()">
                    {% csrf_token %}
                    <div class="container">
                        <div class="mt-6 mx-6">
                            {% crispy add_produit_form %}
                            <button id="add-produit-btn" class="button is-link" type="submit" value="Ajouter">Ajouter</button>
                        </div>
                    </div>
                </form>
                <div id="successNotification" class="notification is-small is-success" style="display: none; position: fixed; bottom: 0; right: 0;">
                    Produit ajouté avec succès.
                </div>
                <div id="errorNotification" class="notification is-small is-danger" style="display: none; position: fixed; bottom: 0; right: 0;">
                    Une erreur s'est produite lors de l'ajout du produit.
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<script>
    function confirmDelete(id_produit) {
        return confirm("Êtes-vous sûr de vouloir supprimer ce produit?");
    }

    function handleAddProduit() {
        // Submit the form
        document.getElementById('add-produit-form').submit();

        // Show success notification
        document.getElementById('successNotification').style.display = 'block';
        setTimeout(function() {
            document.getElementById('successNotification').style.display = 'none';
        }, 3000);

        return false; // Prevent default form submission
    }
</script>

{% endblock content %}
