<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logistique service medical</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</head>
<body>
    {% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <h2 class="title is-4 has-text-centered">Réinitialisation du mot de passe demandée</h2>
                        <p class="has-text-centered">Nous vous avons envoyé un e-mail avec des instructions pour réinitialiser votre mot de passe.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>
