<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logistique service medical</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</head>
<body>
    {% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <h2 class="title is-4 has-text-centered">Réinitialisation du mot de passe</h2>
                        <p class="has-text-centered">Entrez votre adresse e-mail pour recevoir un lien de réinitialisation du mot de passe :</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Adresse e-mail</label>
                                <div class="control">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" type="submit">Réinitialiser le mot de passe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>
