<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logistique service medical</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</head>
<body>
    {% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box has-text-centered">
                        <h2 class="subtitle is-3">Mot de passe réinitialisé avec succès</h2>
                        <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter.</p>
                        <a class="button is-primary mt-4" href="{% url 'login' %}">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span>Se connecter</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>
