{% extends 'admin_base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="section has-background-light is-mobile">
<div class="box">
<h1 class="subtitle is-3 has-text-link has-text-centered mb-5 is-flex is-align-items-center is-justify-content-center">
    <span class="icon has-text-primary is-large">
        <i class="fas fa-box-open"></i>
    </span>
    <span class="ml-3">Gestion des stocks</span>
</h1>

<form action="{% url 'admin_stock:display_produits'%}" method="post" class="mb-5">
    {% csrf_token %}
    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            <div class="select">
                <select name="id_stock">
                    <option value="" >Choisir un stock</option>
                    {% for stock in liste_stocks %}
                        <option value="{{ stock.id_stock }}" {% if selected_stock_id == stock.id_stock %} selected {% endif %}>{{ stock.nom_stock }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control">
            <button class="button has-text-link is-focused" type="submit">Afficher les produits</button>
        </div>
    </div>
    <input type="hidden" name="selected_stock_id" value="{{ selected_stock_id }}">
</form>
</div>
{% if produitsStock %}
    <div class="box">
    <h2 class="title is-4 has-text-centered has-text-link mb-6">{{ selected_stock_nom }}</h2>
    <div class="table-container">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produitsStock %}
                    <tr>
                        <td>{{ produit.nom_produit }}</td>
                            <td>
                                <form hx-post="{% url 'admin_stock:update_quantity' id_produit=produit.id_produit %}" hx-target="#message_{{ produit.id_produit }}" hx-swap="outerHTML">
                                {% csrf_token %}
                                <div class="field">
                                    <div class="control">
                                        <input type="number" id="quantity_{{ produit.id_produit }}" name="quantity_{{ produit.id_produit }}"
                                            value="{{ produit.quantite_stock }}" class="input is-small" min="0">
                                    </div>
                                </div>
                                </td>
                            <td>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-primary is-focused is-small has-text-light" name="quantity_updated" type="submit">
                                                <span class="icon is-small">
                                                    <i class="fas fa-check"></i>
                                                </span></button>
                                    </div>
                                </div>
                                </form>
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   </div>
{% endif %}
<div id="successNotification" class="notification is-small is-link" style= "display: none; position: fixed; bottom: 0px; right: 0px ;">
  Quantité mise à jour.
</div>
<div class="box">
<div class="field is-grouped is-justify-content-center">
    <div class="control">
        <a href="{% url 'admin_stock:produit_list' %}" class="button is-link is-focused">Ajouter/Supprimer produit</a>
    </div>
</div>
</div>
</section>
<script>
document.addEventListener("DOMContentLoaded", () => {
    // Get all forms with the 'hx-post' attribute
    let forms = document.querySelectorAll('[hx-post]');

    // Loop through each form and add submit event listener
    forms.forEach((form) => {
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            // Prepare the form data
            let formData = new FormData(form);

            // Send the form data asynchronously
            let response = await fetch(form.getAttribute('hx-post'), {
                method: 'POST',
                body: formData
            });

            // Parse the response as plain text
            let responseText = await response.text();

            // Check if the response was successful
            if (response.ok) {
                // Show success notification
                document.getElementById('successNotification').style.display = 'block';

                // Hide success notification after 3 seconds
                setTimeout(() => {
                    document.getElementById('successNotification').style.display = 'none';
                }, 2000);
            } else {
                // Display the error message
                form.querySelector('#message').innerHTML = responseText;
            }
        });
    });
});
</script>
{% endblock %}
